{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accueil{% endblock %}

{% block body %}

    {% include 'partials/header.html.twig' %}

    <div class="container-fluid bg-light py-5 text-center">
        <h2 class="text-primary">Tous les tricks</h2>
        <p class="font-weight-bold mb-0">L'annuaire de toutes les figures entré par les utilisateurs</p>
    </div>

    <div class="container-fluid bg-tricks">
        <div class="container">
            <div class="row">
                {% for trick in tricks %}
                    <div class="col-4 py-4">
                        <div class="card shadow" style="width: 18rem;">
                            <div class="card-header">
                                <h5 class="card-title mb-0">
                                    <a href="/trick/{{ trick.slug }}" class="text-decoration-none">
                                        <i class="fas fa-snowboarding mr-1 text-danger"></i>
                                        {{ trick.name }}
                                    </a>
                                    {% if is_granted('ROLE_USER') %}
                                        <div class="float-right">
                                            <a href="{{ path('trick_update', {slug: trick.slug}) }}" title="Modifier le trick" class="text-decoration-none">
                                                <i class="fas fa-edit text-primary"></i>
                                            </a>
                                            {% if app.user == trick.user %}
                                                <a href="#" class="text-decoration-none deleteTrick" title="Supprimer le trick" data-toggle="modal" data-target="#deleteTrickModal" data-id="{{ trick.id }}">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </h5>
                            </div>

                            {% for picture in trick.pictures | slice(0, 1) %}
                                <img src="{{ asset('uploads/trick/') }}{{ picture.picture }}" class="card-img-top" alt="{{ picture.title }}">
                            {% endfor %}

                            <div class="card-footer pr-3 pl-3">
                                <p class="mb-0 text-muted">
                                    {% set user = trick.user %}
                                    <img src="{{ asset('uploads/profile/') }}{{ user.picture }}" alt="Avatar de {{ user.name }}" class="avatar-mini mr-1">
                                    Par <a href="{{ path('profile_index', {'slug': user.slug}) }}" class="text-danger">{{ user.name }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'partials/alert.html.twig' %}
        </div>

        <div class="d-flex justify-content-center py-4">
            <a href="#" class="btn btn-primary">
                <i class="fas fa-spinner mr-1"></i>
                Afficher plus
            </a>
        </div>
    </div>

    <!-- Modal Delete Trick -->
    <div class="modal fade" id="deleteTrickModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Supprimer le trick</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sur de vouloir supprimer le trick ?
                </div>
                <div class="modal-footer text-white">
                    <a href="#" class="btn btn-danger modal-delete-trick text-white" data-id="">Oui</a>
                    <a class="btn btn-secondary" data-dismiss="modal">Annuler</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/modal_delete.js') }}"></script>
{% endblock %}