{# Mes tricks #}
<div class="card mt-4 shadow">
    <div class="card-header">
        <h4 class="mb-0">
            <i class="fas fa-pen text-primary mr-1"></i>
            Mes tricks
        </h4>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            {% for trick in user.tricks %}
                <li class="list-group-item">
                    <i class="fas fa-snowboarding text-danger mr-1"></i>
                    {{ trick.style.name }} |
                    <a href="{{ path('trick_show', {'slug': trick.slug}) }}">
                        {{ trick.name }}
                    </a>
                    <div class="float-right">
                        <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" title="Modifier le trick" class="text-decoration-none mr-2">
                            <i class="fas fa-edit text-primary"></i>
                        </a>
                        <a href="" class="text-decoration-none deleteTrick mr-2" title="Supprimer le trick" data-toggle="modal" data-target="#deleteTrickModal" data-id="{{ trick.id }}">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include 'partials/alert.html.twig' %}