{% extends 'base.html.twig' %}

{% set route =  app.request.get('_route') %}

{% block title %}
    {% if route == 'trick_new' %}
        Créer un nouveau trick
    {% elseif route == 'trick_update' %}
        Modification de {{ trick.name }}
    {% endif %}
{% endblock %}

{% form_theme form 'trick/_collection.html.twig' %}

{% block body %}
    <div id="section-title" class="container-fluid bg-light py-5 text-center section-title">
        <h2 class="text-primary">
            {% if route == 'trick_new' %}
                Créer un nouveau trick
            {% elseif route == 'trick_update' %}
                Modification de {{ trick.name }}
            {% endif %}
        </h2>
        <p class="font-weight-bold mb-0">Entrer votre trick préféré !</p>
    </div>

    <div class="container py-5 responsive-container-padding">
        {{ form_start(form) }}

        <div class="card shadow">
            <div class="card-header responsive-center">
                <h4 class="mb-0">
                    <i class="fas fa-pen-square mr-1 text-primary"></i>
                    Informations générales
                </h4>
            </div>
            <div class="card-body">
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.style) }}
            </div>
        </div>

        <div class="card mt-5 shadow">
            <div class="card-header responsive-center">
                <h4 class="mb-0">
                    <i class="fas fa-images mr-1 text-primary"></i>
                    Images du trick
                </h4>
            </div>
            <div class="card-body">
                {{ form_row(form.pictures) }}
                {{ form_errors(form.pictures) }}
            </div>
        </div>

        <div class="card mt-5 shadow">
            <div class="card-header responsive-center">
                <h4 class="mb-0">
                    <i class="fas fa-video mr-1 text-primary"></i>
                    Vidéos du trick
                </h4>
            </div>
            <div class="card-body">
                {{ form_row(form.videos) }}
                {{ form_errors(form.videos) }}
            </div>
        </div>

        <div class="text-center mt-5">
            {% if route == "trick_update" and app.user == trick.user %}
                <a href="#" class="btn btn-danger deleteTrick" title="Supprimer le trick" data-toggle="modal" data-target="#deleteTrickModal" data-id="{{ trick.id }}">
                    <i class="fas fa-trash-alt"></i>
                    Supprimer
                </a>
            {% endif %}
            
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-check mr-1"></i>
                Valider
            </button>
        </div>

        {{ form_end(form) }}
    </div>

    {% include 'partials/modal_delete.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/trick_picture.js') }}"></script>
    <script src="{{ asset('js/modal_delete.js') }}"></script>
    <script src="{{ asset('js/trick_video.js') }}"></script>
    <script src="{{ asset('js/section_title.js') }}"></script>
{% endblock %}